{% load i18n %}
{% load bootstrap3 %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>{% block title %}PolyBanking{% endblock %}</title>

    <!-- Bootstrap core CSS -->
    <link href="{{MEDIA_URL}}sb-admin/css/bootstrap.css" rel="stylesheet">

    <!-- Add custom CSS here -->
    <link href="{{MEDIA_URL}}sb-admin/css/sb-admin.css" rel="stylesheet">
    <link rel="stylesheet" href="{{MEDIA_URL}}sb-admin/font-awesome/css/font-awesome.min.css">
    <link href="{{MEDIA_URL}}sb-admin/vendors/BS3/assets/css/datatables.css" rel="stylesheet" media="screen">

    <!-- JavaScript -->
    <script src="{{MEDIA_URL}}sb-admin/js/jquery-1.10.2.js"></script>
    <script src="{{MEDIA_URL}}sb-admin/js/bootstrap.js"></script>
    <script src="{{MEDIA_URL}}sb-admin/vendors/datatables/js/jquery.dataTables.js"></script>
    <script src="{{MEDIA_URL}}sb-admin/vendors/BS3/assets/js/datatables.js"></script>

    <link href="{{MEDIA_URL}}select2/select2.css" rel="stylesheet" media="screen">
    <link href="{{MEDIA_URL}}select2/select2-bootstrap.css" rel="stylesheet" media="screen">
    <script src="{{MEDIA_URL}}select2/select2.js"></script>

  </head>

  <body>
    <div id="wrapper">

      <!-- Sidebar -->
      <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
            <span class="sr-only">{% trans "Toogle navbar" %}</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="{% url 'main.views.home' %}">PolyBanking</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse navbar-ex1-collapse">
          <ul class="nav navbar-nav side-nav">
            <li id="nav-home"><a href="{% url 'main.views.home' %}"><i class="fa fa-home"></i> {% trans "Home" %}</a></li>
            {% if user.is_superuser %}<li id="nav-users"><a href="{% url 'users.views.list' %}"><i class="fa fa-users"></i> {% trans "Users" %}</a></li>{% endif %}
            <li id="nav-configs"><a href="{% url 'configs.views.list' %}"><i class="fa fa-cogs"></i> {% trans "Configs" %}</a></li>
            <li id="nav-transactions"><a href="{% url 'paiements.views.transactions_list' %}"><i class="fa fa-money"></i> {% trans "Transactions" %}</a></li>
            <li id="nav-export"><a href="{% url 'export.views.home' %}"><i class="fa fa-truck"></i> {% trans "Export" %}</a></li>
          </ul>

          <ul class="nav navbar-nav navbar-right navbar-user">
            <li class="dropdown user-dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-user"></i> {{user.first_name}} {{user.last_name}}<b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li><a href="{% url 'django.contrib.auth.views.logout' %}"><i class="fa fa-power-off"></i> {% trans "Log Out" %}</a></li>
              </ul>
            </li>
          </ul>
        </div><!-- /.navbar-collapse -->
      </nav>

      <div id="page-wrapper">

        {% bootstrap_messages %}

        {% block content %}

        {% endblock %}

      </div><!-- /#page-wrapper -->

      <div class="copy">&copy; Maximilien Cuony &amp; Malik Bougacha - 2014 - <a href="http://opensource.org/licenses/BSD-2-Clause" target="_blank">BSD</a> - <a href="http://agepoly.epfl.ch">AGEPoly</a>/<a href="http://polylan.ch">PolyLAN</a></div>

    </div><!-- /#wrapper -->

  </body>
</html>