{% extends "base.html" %}
{% load i18n %}
{% load bootstrap3 %}

{% block title %}{{block.super}} :: {% trans "Summary" %}{% endblock %}

{% block content %}

<script type="text/javascript">$('#nav-summary').addClass('active');</script>

<h2>{% trans "Export of data" %}</h2>

<ol class="breadcrumb">
  <li><a href="{% url 'main.views.home' %}"><i class="fa fa-home"></i> {% trans "Home" %}</a></li>

  <li class="active"><i class="fa fa-ticket"></i> {% trans "Summary form" %}</li>

</ol>

<div class="row-fluid">
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h3 class="panel-title">{% trans "Summary parameters" %}</h3>
        </div>
        <div class="panel-body">

            <form action="" method="POST">
                {% csrf_token %}

                {% bootstrap_form form %}

                <div class="row-fluid box-section" style="text-align: right;">
                    <input type="submit" class="btn btn-primary" value="{% trans "Export" %}">
                </div>

            </form>
        </div>
    </div>

</div>

<script type="text/javascript">
  $('#id_range, #id_transactions').select2();

    $(function () {
        $('#id_custom_start, #id_custom_end').datetimepicker({language:'fr'});
    });
</script>


{% endblock %}