{% load i18n %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>{% block title %}PolyBanking{% endblock %}</title>

    <!-- Bootstrap core CSS -->
    <link href="{{MEDIA_URL}}sb-admin/css/bootstrap.css" rel="stylesheet">

    <!-- Add custom CSS here -->
    <link href="{{MEDIA_URL}}sb-admin/css/sb-admin.css" rel="stylesheet">
    <link rel="stylesheet" href="{{MEDIA_URL}}sb-admin/font-awesome/css/font-awesome.min.css">
  </head>

  <body>
    <div id="wrapper">

      <!-- Sidebar -->
      <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
            <span class="sr-only">{% trans "Change nav" %}</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="{% url 'main.views.home' %}">PolyBanking</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse navbar-ex1-collapse">
          <ul class="nav navbar-nav side-nav">
            <li><a href="{% url 'main.views.home' %}"><i class="fa fa-dashboard"></i> {% trans "Home" %}</a></li>
          </ul>

          <ul class="nav navbar-nav navbar-right navbar-user">
            <li class="dropdown user-dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-user"></i> {{user.first_name}} {{user.last_name}}<b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li><a href="{% url 'django.contrib.auth.views.logout' %}"><i class="fa fa-power-off"></i> {% trans "Log Out" %}</a></li>
              </ul>
            </li>
          </ul>
        </div><!-- /.navbar-collapse -->
      </nav>

      <div id="page-wrapper">

        {% block content %}

        {% endblock %}

      </div><!-- /#page-wrapper -->

    </div><!-- /#wrapper -->

    <!-- JavaScript -->
    <script src="{{MEDIA_URL}}sb-admin/js/jquery-1.10.2.js"></script>
    <script src="{{MEDIA_URL}}sb-admin/js/bootstrap.js"></script>

  </body>
</html>